@page
@model FlowerShop.OrderSuccessModel
@{
    ViewData["Title"] = "OrderSuccess";
}

<h1>Success!</h1>
<hr />
<p>
    Your order has been placed. Please allow three business days for delivery.<br />
    Thank you for shopping at the <i><b>Little Flower Shop!</b></i><br />
    See you again soon.
</p>
<hr />

<a asp-page="index"><input type="button" value="Continue Shopping" class="btn-primary" /></a>

