@page
@model FlowerShop.ProductsModel
@{
    ViewData["Title"] = "Products";
}

    <table class="table">
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">In Stock</th>
            <th scope="col">Price</th>

        </tr>

        @foreach (var item in Model.Products)
        {
            <tr align="center">

                <td><img src="~/images/@item.Photo" width="250" height="250" /></td>
                <td>@item.Name</td>

                <td>@item.Description</td>
                <td>@item.InStock</td>
                <td>$@item.Price</td>

                <td align="center">
                    <a asp-page="cart" asp-page-handler="add" asp-route-id="@item.Id"><input type="button" value="Add To Cart" class="btn-primary" /></a>
                </td>
            </tr>
        }

    </table>

